input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    width: 300px;
    align-items: center;
    justify-content: center;
    height: 200px;
}

h3 {
    text-align: center;
}

#currentSpeedDisplay {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;
}

input {
    width: 80px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

#currentSpeed {
    font-size: 22px;
    font-weight: bold;
    margin: auto;
}

#buttonContainer {
    width: 100%;
}

.presetIncrements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

#decrementButtons, #incrementButtons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.wholeIncrement {
    display: flex;
    width: 85px;
    text-align: center;
    justify-content: center;
}